* {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
.back-image {
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center;
}
.main-background {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(https://comma.run.goorm.io/assets/images/home.jpg);
}
.main-background img {
    margin-top: 35vh;
}
.left-lay-text-logo {
    color: #fff;
    position: fixed;
    top: 45vh;
    left: 20px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.right-lay-text-logo {
    color: #fff;
    position: fixed;
    top: 45vh;
    right: -50px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.right-top-text-nav {
    position: fixed;
    top: 20px;
    right: 50px;
    transition: all ease 0.5s 0s;
}
.right-top-text-nav a {
    color: #fff;
    text-decoration: none;
}
.left-top-image-logo {
    opacity: 0;
    position: fixed;
    top: 25px;
    left: 25px;
    transition: all ease 0.5s 0s;
}
.left-top-image-logo img {
    width: 85px;
    height: 85px;
}
.left-bottom-social {
    position: fixed;
    bottom: 60px;
    left: 60px;
}
.nonstyle {
    list-style: none;
}
.inline li {
    display: inline-block;
    margin: 10px;
}
.team-info img {
    display: block;
    width: 50px;
    border-radius: 100%;
}
.team-info a {
    text-decoration: none;
}
.social-link {
    transition: all ease 0.5s 0s;
    color: #fff;
}
.container {
    margin: 0 auto;
    width: 750px;
    max-width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
.main-content {
    margin-top: 200px;
}
.text-center {
    text-align: center;
}
.row-image {
    margin: 0 auto;
}
.row-image img {
    width: auto;
    height: 250px;
}
.we-product-video {
    width: 100%;
    height: 250px;
    background-color: #000;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease;
}
.we-product-video h4 {
    color: rgba(255,255,255,0);
    padding-top: 120px;
    height: 52%;
    width: 100%;
    transition: all ease 0.5s 0s;
}
.we-product-video:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}
.we-product-video:hover h4 {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.5);
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}

@media screen and (max-width: 1200px) {
    .left-lay-text-logo {
        position: absolute;
    }
    .right-lay-text-logo {
        position: absolute;
    }
    .right-top-text-nav {
        position: absolute;
    }
    .left-bottom-social {
        position: absolute;
    }
}