{% if page.previous or page.next %}
<div class="row mt-5 mb-5">
	<div class="col-sm-6 text-left">
		{% if page.previous %}
		<a href="{{ page.previous.url }}" title="{{ page.previous.title | markdownify | strip_html }}">
			<i class="fa fa-angle-double-left"></i> {{ page.previous.title }}
		</a>
		{% endif %}
	</div>
	<div class="col-sm-6 text-right">
		{% if page.next %}
		<a href="{{ page.next.url }}" title="{{ page.next.title | markdownify | strip_html }}">
			{{ page.next.title }} <i class="fa fa-angle-double-right"></i>
		</a>
		{% endif %}
	</div>
</div>
{% endif %}